section.contacts-s.container
    h1.title.title--main Contacts
    .container--space-between
        .column
            h3.title.title--common
                span.color-text GMS
                |  Headquarters
            .container--space-between
                .column.column--left-mini.column--margin-top
                    p.text Global Message Services Ukraine LLC
                    p.text Bundesstrasse 5 | 3rd Floor
                    p.text 6300 Zug
                    p.text Switzerland
                    a(href="tel:+41415446200").phone-link.color-text +41 41 544 62 00
                .column.column--right-mini.column--margin-top
                    p.text Email
                    a(href="mailto:info@gms-worldwide.com").text--bold info@gms-worldwide.com
                    p.text Send message
                    a(href="#").text--bold Viber us
                    p.text Send form
                    a(href="#").text--bold Contact us
        .column.padding-left--big
            h3.title.title--common Technical support
                span.color-text  24/7
            p.text.column--margin-top GMS understands that it can be hard to follow all new technologies.
                |  We regularly provide for all our clients educational trainings to make your operator`s business earn more and better though our best practices.
            a(href="tel:+41415446206").phone-link.color-text +41 41 544 62 06